html {
  box-sizing: border-box;
  font-family:
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
border-radius: 8px;
  background-color: #333;
  display: inline-block;
  padding: .5em;
  padding-left: .75em;
  padding-right: .75em;
  font-size: 1.125rem;
  border-width: .3px;
}

img {
  width: 100px;
}
