html {
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  padding: 1em;
  text-align: left;
  font-size: 0.875rem;
  text-decoration: none;
  border-radius: 8px;
  background-color: #333;
  margin-top: 3em;
  margin-bottom: 10em;
  margin-left: 0;
  border: 3px solid #333;
  margin: 0;
}

.btn-small {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: left;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  border-width: 3px;
}

body {
  background-color: #f2f2f2;
  padding: 1em;
  margin: 0;
}

h3 {
  font-style: italic;
  font-size: .875rem;
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

.card {
  float: left;
  width: 25%;
  border-left: 1px solid #333;
  font-size: 0.875rem;
  padding: 1em 1em 1em 1em;
}

.card1 {
  background-color: #e2e2e2;
}

.card2 {
  background-color: #ccc;
}

.card3 {
  background-color: #aaa;
}

.card4 {
  background-color: #999;
  border-right: 1px solid #333;
}

img {
  width: 100px;
  margin: auto;
  text-align: center;
  display: block;
}

.images {
  text-align: center;
  padding-left: 1em;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

a {
  padding: .2em;
}
